<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Menus - Ingeniería Web
        </title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            html, body {
                        height: 100%;
                        }
        </style>
    </head>
  <body>

    <div class="contenedor-padre">
      <mat-toolbar class="barra" color="warn">
        <mat-toolbar-row>
          <button (click)="cajon.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
          <!--Open navbar-->
          <div *ngFor="let cons of consulta">
            <nav class="{{cons.description}}">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">{{cons.title}}</a>
                      </li>
                      <!--<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{cons.title}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li> -->
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          <!--close navbar-->
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-sidenav-container class="contenido">
        <mat-sidenav style="min-width: 300px;" #cajon mode="side">
          <mat-nav-list>
            <a mat-list-item routerLink="/consulta">
              <mat-icon color="primary">sentiment_very_satisfied</mat-icon>
              Generar Menus
            </a>
          </mat-nav-list>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Menus
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-nav-list>
                <a mat-list-item routerLink="/menus/agregar">
                  Agregar Menus
                </a>
                <a mat-list-item routerLink="/menus">
                  Listar Menus
                </a>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>

                <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Positions
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-nav-list>
                <a mat-list-item routerLink="/positions/agregar">
                  Agregar Positions
                </a>
                <a mat-list-item routerLink="/positions">
                  Listar Positions
                </a>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-sidenav>
        <mat-sidenav-content class="padding-10">
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>

  </body>
</html>