<h2>Agregar menus <mat-icon>add_circle_outline</mat-icon></h2>
<form (ngSubmit)="onSubmit()" #formMenus="ngForm" style="text-align: center;">

    <p>
        <mat-form-field>
            <input matInput name="title" [(ngModel)]="menusModel.title"
                type="text"
                placeholder="Title">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="description" [(ngModel)]="menusModel.description"
                type="text"
                placeholder="Description">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="status" [(ngModel)]="menusModel.status"
                type="number"
                placeholder="Status">
        </mat-form-field>
    </p>
        <p>
        <mat-form-field>
            <input matInput name="created" [(ngModel)]="menusModel.created"
                type="date"
                placeholder="Created">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="modified" [(ngModel)]="menusModel.modified"
                type="date"
                placeholder="Modified">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="father_id" [(ngModel)]="menusModel.father_id"
                type="number"
                placeholder="father id">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="link" [(ngModel)]="menusModel.link"
                type="text"
                placeholder="Link">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="position_id" [(ngModel)]="menusModel.position_id"
                type="number"
                placeholder="Position id">
        </mat-form-field>
    </p>

    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
    </p>
</form>