<h2>Agregar positions <mat-icon>add_circle_outline</mat-icon></h2>
<form (ngSubmit)="onSubmit()" #formPositions="ngForm" style="text-align: center;">

    <p>
        <mat-form-field>
            <input matInput name="name" [(ngModel)]="positionsModel.name"
                type="text"
                placeholder="Name">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="description" [(ngModel)]="positionsModel.description"
                type="text"
                placeholder="Description">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="status" [(ngModel)]="positionsModel.status"
                type="number"
                placeholder="Status">
        </mat-form-field>
    </p>
        <p>
        <mat-form-field>
            <input matInput name="created" [(ngModel)]="positionsModel.created"
                type="date"
                placeholder="Created">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="modified" [(ngModel)]="positionsModel.modified"
                type="date"
                placeholder="Modified">
        </mat-form-field>
    </p>
    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
    </p>
</form>