<h2>Listado de positions</h2>
<table mat-table [dataSource]="positions" class="mat-elevation-z8" style="width:
    100%;">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let positions"> {{positions.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let positions"> {{positions.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let positions"> {{positions.description}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let positions"> {{positions.status}} </td>
    </ng-container>
    <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Created</th>
        <td mat-cell *matCellDef="let positions"> {{positions.created}} </td>
    </ng-container>
    <ng-container matColumnDef="modified">
        <th mat-header-cell *matHeaderCellDef>Modified</th>
        <td mat-cell *matCellDef="let positions"> {{positions.modified}} </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let positions">
            <a mat-icon-button [routerLink]="['/positions/editar', positions.id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let positions">
            <button (click)="eliminarPositions(positions)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'description', 'status', 'created', 'modified', 'editar', 'eliminar']"></tr>
    
    <tr mat-row *matRowDef="let fila; columns: ['id', 'name', 'description', 'status', 'created', 'modified', 'editar', 'eliminar'];"></tr>
</table>