<h2>Editar positions <mat-icon>pets</mat-icon></h2>
<form (ngSubmit)="onSubmit()" #formPositions="ngForm" style="text-align: center;">
    <p>
        <mat-form-field>
            <input matInput name="name" [(ngModel)]="positions.name"
                type="text"
                placeholder="Name">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="description" [(ngModel)]="positions.description"
                type="text"
                placeholder="Description">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="status" [(ngModel)]="positions.status"
                type="number"
                placeholder="Status">
        </mat-form-field>
    </p>
        <p>
        <mat-form-field>
            <input matInput name="created" [(ngModel)]="positions.created"
                type="date"
                placeholder="Created">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="modified" [(ngModel)]="positions.modified"
                type="date"
                placeholder="Modified">
        </mat-form-field>
    </p>
    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
        &nbsp;
        <button (click)="volver()" type="button" mat-flat-button color="primary">Volver</button>
    </p>
</form>
